@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="title_image" src="/img/asp.net.jpg" alt="ASP logo" />
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
