﻿@{
    ViewData["Title"] = "Url Structure";
}

<div class="text-center">
    <img class="title_image" src="/img/asp.net.jpg" alt="ASP Logo" />
    <h1 class="display-4">Структура URL</h1>
</div>
<br />
<div class="url_content">
    <span>
        <cite class="url_cite"><схема>://<логін>:<пароль>&commat;<хост>:<порт>/<шлях>?<параметри>#<якір></cite>
        <ul class="url_list">
            <li><b>Схема:</b> Схема звернення до ресурсу, найчастіше це протокол (напр., http, ftp).</li>
            <li><b>Логін і пароль:</b> Відповідно, ім'я користувача і пароль для доступу до ресурсу.</li>
            <li><b>Хост:</b> Повне доменне ім'я або IP-адреса ресурсу.</li>
            <li><b>Порт:</b> Порт, по якому буде проведено звернення до вузла.</li>
            <li><b>Шлях:</b> Використовується для уточнюючої вказівки місця знаходження ресурсу. Залежно від ОС може бути регістро-залежним (більшість серверних ОС) або регістро-незалежним (наприклад, Microsoft Windows).</li>
            <li><b>Параметри:</b> Рядок параметрів виду <параметр>=<значення>, розділених символом амперсанд (&).</li>
            <li><b>Якір:</b> Призначений для внутрішньої адресації на ресурсі, який було отримано від сервера.</li>
        </ul>
        <p>Інформація взята з <a href="https://uk.wikipedia.org/wiki/%D0%A3%D0%BD%D1%96%D1%84%D1%96%D0%BA%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B9_%D0%BB%D0%BE%D0%BA%D0%B0%D1%82%D0%BE%D1%80_%D1%80%D0%B5%D1%81%D1%83%D1%80%D1%81%D1%96%D0%B2">Вікіпедії</a>.</p>
    </span>
    <img class="url_structure" src="/img/url_structure.png" alt="Url Structure" />
</div>

<p><b>Дата звернення до цієї сторінки: @DateTime.Now</b></p>
